#scroll {
    height: 568px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

#scroll .view-container {
    position: relative;
    height: 568px;
    vertical-align: top;
}

#scroll .view-container img {
    height: 568px;
    vertical-align: top;
    z-index: -1;
}

#button-left {
    position: absolute;
    left: 5px;
    top: 318px;
    z-index: 2;
}

#button-right {
    position: absolute;
    right: 5px;
    top: 318px;
    z-index: 2;
}

#gift {
    position: absolute;
    height: 4% !important;
    width: auto;
    top: 320px;
    left: 115px;
    z-index: 0 !important;
}

#first-image-alpha {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
    pointer-events: none;
}

#headline {
    background-color: #fde482;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2.headline-text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #ce9d8e;
    text-align: center;
}

body {
    background-color: #e9d5be;
}

#winImage {
    width: 100%;
}

.bg-colored {
    background-color: whitesmoke;
}